<div class="row">
<div class="eight columns">
  <div class="section clearfix">
    <img  src="https://cdn.shopify.com/s/files/1/0458/0592/8616/files/Password2.jpg?v=1602473600" class="transition-in lazyload wow fadeInUp animate" >
  </div>
</div>

<div class="eight columns center main-content_404">
  <div  class="section clearfix wow fadeInUp animate">  
     <h1 class="collection_title">{{ 'general.404.title' | t }}</h1>
     <p>Look! like we're out to get more style for you.</p>
     <ul class="nav-list">
        <li class="list-item"><a href="https://meanblvd.com/collections/new-in">New in</a></li>
        <li class="list-item"><a href="https://meanblvd.com/collections/best-sellers">Best sellers</a></li>
        <li class="list-item"><a href="https://meanblvd.com/collections/sale">Sale</a></li>
      </ul>
    <p class="quote">
        {{ 'general.404.subtext' | t }}
    </p>
    <a href="https://meanblvd.com" class="button-404">Back To Homepage</a>
    <p class="extra_padding">
      {{ 'general.404.continue_shopping_html' | t }}
    </p>
     <form class="search" action="/search">
      <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms }}" style="width: 100%" />
    </form>
  </div>    
</div>
</div>